.upperPartHomePageContainer{

    display: flex;
   

    @media only screen and (max-width: 500px) {
    
     
      width: 60rem;
      height: 50rem;
         

        
   }
     

    // .displayImageContainer{
    
          
    //         display: flex;
    //         width: 100%;
    //         height: 100%;

           
    
    // }


}


