
.paymentPageContainer{

    width: 100%;
    height: 100vh;
    display: flex;
   justify-content: space-around;


    .paymentFormContainer{
    
        display: flex;
        width: 60rem;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 3rem;
    
        .paymentCardContainer{
    
    
              display: flex;
              flex-direction: column;
               width: 40rem;
               height: 35rem;
               border: 1px solid #ccc5c5;
               border-radius: 1%;
    
              .headerContainer{
    
                   padding: 1rem;
                   width: 38rem;
                   height: 3rem;
                   font-size: 2rem;
                   font-weight: 700;
                   letter-spacing: 2px;
                   background-color: #f7f7f7;
                   display: flex;
                   column-gap: 4rem;

                   .headerIcons{
                     
                    display: flex;
                       
                   }


    
              }

              .cardInputContainer{

                  display: flex;
                  width: 36rem;
                  height: 100%;
                  flex-direction: column;
                  padding: 2rem;
                  row-gap: 3rem;
                position: relative;
                  .cardNumberContainer{

                      width: 35rem;
                      height: 6rem;
                       position: relative;

                div{
                   
                     width: 35rem;
                     height: 3rem;

                    input{
                      width: 35rem;
                      height: 3rem;
                      font-size: 2rem;
                      margin-top: 5px;
                      z-index: 1;
                    }

                    span{
                      width: 100%;
                      display: flex;
                      position: absolute;
                      bottom: 1rem;
                      justify-content: flex-end;
                      pointer-events: none;
                      visibility: hidden;
                     
                        img{
                         
                            margin-top: 5px;
                            width: 3rem;
                            pointer-events: none;
                        }
                    }
                }

                        
                  }
              
                  .cardholderNameContainer{
                       
                      width: 35rem;
                      height: 5rem;

                      input{
                        width: 100%;
                        height: 3rem;
                        font-size: 2rem;
                        margin-top: 5px;

                      }
                      
                  }

                  .cardDetailsContainer{

                        display: flex;
                        column-gap: 3rem;

                     .expiryDateContainer{

                        width: 16rem;
                        height: 3rem;

                        input{
                            width: 100%;
                            height: 3rem;
                            font-size: 2rem;
                             margin-top: 5px;

                        }

                     }
                     .cardCvvContainer{
                          
                        width: 16rem;
                        height: 3rem;

                        input{
                            width: 100%;
                            height: 3rem;
                            font-size: 2rem;
                            margin-top: 5px;
                            
                        }
                     }

                  }
                 

              }
    
    
        
    
        }
    }


    .cartItemsContainer{
        width: 55rem;
        height: 100vh;
        border: 1px solid #ccc5c5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 5rem;

        .scrollableContainer{

             width: 50rem;
            height: 30rem;
             overflow: auto;
             border: 1px solid #ccc5c5;
             background-color: #f8f8f8;
            
            

             .itemDiv{

                   display: flex;
                   padding: 1rem;
                   column-gap: 4rem;
                   color: rgb(56 52 52 / 68%);

                .itemDivImage{
                    
                      img{
                         width: 8rem;
                         height: 8rem;
                         box-shadow: 1px 2px 4px gray;
                      }

                }
             
                .itemInfoContainer{
 
                     display: flex;
                     flex-direction: column;

                     .itemMetaInfoContainer{

                        display: flex;
                        column-gap: 4rem;
                     }
                        
                }
             }
        }

        .cartItemsSubtotalContainer{
             display: flex;
             width: 50rem;
             justify-content: flex-end;
        }
    }
}

input:focus{
    outline: none;
}

input::placeholder{
    color: rgb(209, 207, 207);
}

