.item-img {
    display: flex;
    column-gap: 2rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 3s ease-out;
    transform: scale(1);
    border-radius: 0px;
}

.item_details-div {
    margin-top: 1rem;
    padding: 0.5rem 0.5rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem
}