.success {
    background-color: rgba(26, 196, 151, 0.388);
    border-radius: 4px;
    font-size: 1.2rem;
    margin: 2rem auto;
    padding: 1rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    z-index: 10;
}

#world {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: none;
    visibility: visible;
}

.header {
    font-family: Merriweather, serif;
    color: #3c3c3c;
    font-weight: 700;
    font-size: 2.3rem;
}

.span {
    display: block;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: #3c3c3c;
    margin-top: 1rem;
}

.line {
    margin: 1rem 0;
    width: 5rem;
}

@media (max-width:600px) {
    .header {
        font-size: 2rem;
    }

    .line {
        width: 3rem;
    }

    .span {
        font-size: 1.1rem;
    }

    p {
        font-size: 1.1rem;
    }

    .success {
        background-color: rgba(26, 196, 151, 0.388);
        border-radius: 4px;
        font-size: 1.2rem;
        margin: 1.5rem auto;
        padding: 0.4rem 0.7rem;
        font-weight: 500;
    }

    .link {
        font-size: 1rem;
    }
}