
.contactUsContainer{

     display: flex;
     flex-direction: column;
     row-gap: 8rem;
      .headerContainer{

           display: flex;
           justify-content: center;
           flex-direction: column;
           align-items: center;
        //    align-self: center;
            
      }

    .MessageFormContainer{

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center; 
         row-gap: 4rem;

        Form{


            .formContainer{
    
               display: flex;
               flex-direction: column;
               row-gap: 2rem;
               width: 40rem;

               .UpperPartContainer{
                 
                  display: flex;
                  column-gap: 2rem;
                  
                 

                  
               }
    
            }

        }



              
    }
}