
.contactUsContainer{

     display: flex;
     flex-direction: column;
     row-gap: 8rem;
      .headerContainer{

           display: flex;
           justify-content: center;
           flex-direction: column;
           align-items: center;
        //    align-self: center;


        h3{
            
         @media only screen and (max-width: 500px) {
            
           font-size: 0.9rem;
        }
            
      }
   }
    .MessageFormContainer{

         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center; 
         row-gap: 4rem;

        Form{


            .formContainer{
    
               display: flex;
               flex-direction: column;
               row-gap: 2rem;
               width: 40rem;

               @media only screen and (max-width: 500px) {
            
                    transform: scale(1.2);
                    height: 35rem;
               }


               .UpperPartContainer{
                 
                  display: flex;
                  column-gap: 2rem;
                  
                 

                  
               }
    
            }

        }



              
    }
}


#world{

   position: absolute;
   width: 100%;
   height: 100vh;
   margin: 0;
   padding: 0;
   overflow: hidden;
}