.contactUsContainer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
  .headerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    .cridentials-info {
      color: gray;
      text-decoration: underline;
    }
    h3 {
      @media only screen and (max-width: 500px) {
        font-size: 0.9rem;
      }
    }
  }

  .MessageFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 2rem;
    Form {
      .formContainer {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        width: 40rem;

        @media only screen and (max-width: 500px) {
          transform: scale(1.2);
          height: 35rem;
        }

        .UpperPartContainer {
          display: flex;
          column-gap: 2rem;
        }
      }
    }
  }
}
