.cart-dropdown-container {
  position: fixed;
  width: 30rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  box-shadow: 4px 4px 10px black;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 10;
  transition: all 700ms;
  overflow: hidden;
}

.hide {
  transform: translateX(35rem);
}

.header-div {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.empty-message {
  font-size: 18px;
  margin: 50px auto;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 16;
  overflow-y: scroll;
}

.cart-items::-webkit-scrollbar {
  display: none;
}

.button-div {
  flex: 3;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

@media (max-width:768px) {
  .cart-dropdown-container {
    width: 93%;
  }

  .hide {
    transform: translateY(-80rem);
    /* transform: translateX(35rem); */
  }

  .button-div {
    flex: 2;
    align-items: center;
  }
}