body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

/* @media (max-width: 500px) {
  body {
    zoom: 1;
  }
} */

body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}