.mainNavigationContainer {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  // width: 100%;
  // @media only screen and (max-width: 500px) {
  // width: 48rem;
  // }
  .leftContainer {
    flex: 5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .searchContainer {
      flex: 1;
      flex-wrap: wrap;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      @media only screen and (max-width: 900px) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    // .leftPartContainer {
    //   background-color: rgba(141, 144, 134, 0.301);
    //   display: flex;
    //   flex-wrap: wrap;
    //   justify-content: center;
    //   // gap: 20rem;
    //   align-items: center;
    //   // position: relative;

    //   width: 85%;
    //   // flex: 5;
    //   @media only screen and (max-width: 500px) {
    //     width: 60%;
    //     flex-wrap: wrap-reverse;
    //     row-gap: 1rem;
    //   }

    .leftPartContainer {
      display: flex;
      flex: 5;
      flex-direction: column;
      align-items: center;
      row-gap: 1rem;
      // @media only screen and (max-width: 500px) {
      // width: 15rem;
      // }

      .webLgogContainer {
        @media only screen and (max-width: 500px) {
          font-size: 25px;
          letter-spacing: 2px;
        }

        span {
          font-family: "Times New Roman";
          font-weight: bold;
          color: white;
          font-size: 70px;

          @media only screen and (max-width: 500px) {
            font-size: 35px;
          }
        }
      }
    }
    @media only screen and (max-width: 1050px) {
      // flex-direction: column;
      flex: 3;
    }
    @media only screen and (max-width: 768px) {
      flex-direction: column;
      flex: 2;
    }
  }

  .rightPartContainer {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-right: 1rem;
    column-gap: 2rem;
    @media only screen and (max-width: 1000px) {
      gap: 0.8rem;
    }
    .profileIconContainer {
      @media only screen and (max-width: 500px) {
        // display: none;
      }
    }
  }
}
