.tabs {
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: 2px;
    cursor: pointer;
    color: rgb(171, 171, 171);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 100ms;
    user-select: none;
}

.tabs:nth-child(1):hover {
    color: white;
}

.tabs:nth-child(2):hover {
    color: white
}

.tabs:nth-child(3):hover {
    color: white
}

.active-tab {
    transition: all 100ms;
    color: white
}